.static {
  position: static
}

.fixed {
  position: fixed
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.italic {
  font-style: italic
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
